@{
    ViewData["Title"] = "Travon - Tour and Hotel Booking HTML Template - Team";
}

@section MetaTags {
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Adivaha">
    <meta name="description" content="Travon - Tour and Hotel Booking HTML Template">
    <meta name="keywords" content="Travon - Tour and Hotel Booking HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
}

<div class="breadcumb-wrapper" data-bg-src="~/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Our Team</h1>
            <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>Our Team</li>
            </ul>
        </div>
    </div>
</div>
<section class="space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="ot-team team-box">
                    <div class="team-img">
                        <img src="~/img/team/team_1_1.jpg" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="ot-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a target="_blank"
                                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="box-title"><a href="/About/TeamMemberDetail/Mishel Marsh">Mishel Marsh</a></h3><span class="team-desig">Switzerland Guide</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="ot-team team-box">
                    <div class="team-img">
                        <img src="~/img/team/team_1_2.jpg" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="ot-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a target="_blank"
                                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="box-title"><a  href="/About/TeamMemberDetail/Michel Richard">Michel Richard</a></h3><span class="team-desig">Maldivs Guide</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="ot-team team-box">
                    <div class="team-img">
                        <img src="~/img/team/team_1_3.jpg" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="ot-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a target="_blank"
                                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="box-title"><a  href="/About/TeamMemberDetail/Famhida Ruko">Famhida Ruko</a></h3><span class="team-desig">Iceland Guide</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="ot-team team-box">
                    <div class="team-img">
                        <img src="~/img/team/team_1_4.jpg" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="ot-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a target="_blank"
                                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="box-title"><a  href="/About/TeamMemberDetail/Alex Anfantino">Alex Anfantino</a></h3><span class="team-desig">Indonesia Guide</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="ot-team team-box">
                    <div class="team-img">
                        <img src="~/img/team/team_1_5.jpg" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="ot-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a target="_blank"
                                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="box-title"><a  href="/About/TeamMemberDetail/Joseph Carter">Joseph Carter</a></h3><span class="team-desig">Morokko Guide</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="ot-team team-box">
                    <div class="team-img">
                        <img src="~/img/team/team_1_6.jpg" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="ot-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a target="_blank"
                                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="box-title"><a  href="/About/TeamMemberDetail/David Danial">David Danial</a></h3><span class="team-desig">Argentina Guide</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="ot-team team-box">
                    <div class="team-img">
                        <img src="~/img/team/team_1_7.jpg" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="ot-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a target="_blank"
                                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="box-title"><a  href="/About/TeamMemberDetail/Joseph Kariban">Joseph Kariban</a></h3><span class="team-desig">Canada Guide</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-30">
                <div class="ot-team team-box">
                    <div class="team-img">
                        <img src="~/img/team/team_1_8.jpg" alt="Team">
                        <div class="team-social">
                            <div class="play-btn"><i class="far fa-plus"></i></div>
                            <div class="ot-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a> <a target="_blank"
                                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="box-title"><a  href="/About/TeamMemberDetail/Laniart Carter">Laniart Carter</a></h3><span class="team-desig">London Guide</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="" data-pos-for=".footer-wrapper" data-sec-pos="bottom-half">
    <div class="container">
        <div class="newsletter-wrap" data-bg-src="~/img/bg/subscribe_bg_1.svg">
            <h2 class="sec-title text-white mb-2">Get Special Offers And More From Travon</h2>
            <p class="text-white fs-md mb-4">Sign up now and get the best deals straight in your inbox!</p>
            <form action="/Newsletter" method="post" class="newsletter-form">
                <input class="form-control" name="Email" type="email"
                       placeholder="Enter Email Address" required=""> <button type="submit"
                                                                              class="ot-btn">
                    SUBCRIBE
                </button>
            </form>
        </div>
    </div>
</section>
