 @model List<HotelsViewModel>
@{
    ViewData["Title"] = "Hotels | Book last-minute hotels &amp; more | Booking.com";
}
 

@section LinkStyle{

    <style>
        @@media only screen and (max-width: 991px) {
            section.section-thirty-eight .image {
                max-width: 500px;
                margin: 0 auto;
            }

                section.section-thirty-eight .image img {
                    width: 100%;
                }

            .kingho_block__38 {
                max-width: 500px;
                margin: 0 auto;
                margin-bottom: 30px;
            }

                .kingho_block__38 .kingho_inner_content_box {
                    position: relative;
                    right: auto;
                    top: auto;
                    margin-top: 30px;
                }

                .kingho_block__38 .text-two {
                    margin-left: 0;
                }

                .kingho_block__38 h3 {
                    margin-left: 0;
                }

                .kingho_block__38 .icon-list ul li {
                    margin-left: 0;
                    margin-right: 25px;
                }

                .kingho_block__38 .kingho_inner_content_box .pricing {
                    margin-left: 0;
                }
        }

        .kingho_block__38 {
            position: relative;
            filter: drop-shadow(0px 14px 14px rgba(0, 0, 0, 0.04));
            background-color: #ffffff;
            border: 2px solid #f3f3f3;
            padding: 45px 30px 46px;
            /* margin-left: -30px; */
            /* margin-bottom: 32px; */
        }

            .kingho_block__38 .icon-list ul li {
                margin-left: 35px;
            }

            .kingho_block__38 h3 {
                font-size: 24px;
                letter-spacing: -1px;
                line-height: 55px;
                color: #111111;
                font-weight: 600;
                margin-left: 30px;
            }

            .kingho_block__38 .text-two {
                font-size: 14px;
                line-height: 24px;
                color: #777777;
                font-weight: 400;
                font-family: "Roboto";
                margin-left: 30px;
            }

            .kingho_block__38 .kingho_inner_content_box {
                position: absolute;
                right: 45px;
                top: 76px;
            }

                .kingho_block__38 .kingho_inner_content_box .pricing {
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Roboto";
                    text-align: center;
                    width: 100px;
                    height: 30px;
                    background-color: var(--theme-color);
                    position: relative;
                    margin-bottom: 20px;
                    margin-left: 13px;
                }

            .kingho_block__38 a.theme-btn.btn-style-four {
                background-color: #ffffff;
                border: 2px solid #eaeaea;
                display: inline-block;
                padding: 9px 23px;
                font-size: 16px;
                line-height: 30px;
                text-decoration: underline;
                color: #777777;
                font-weight: 700;
                font-family: "Roboto";
                text-align: center;
            }

            .kingho_block__38 h4 {
                font-size: 14px;
                line-height: 22px;
                color: #111111;
                font-weight: 500;
                font-family: "Roboto";
            }

            .kingho_block__38 .text {
                font-size: 14px;
                line-height: 22px;
                color: #777777;
                font-weight: 400;
                font-family: "Roboto";
            }

        .page-title {
            position: relative;
            padding: 160px 0px 130px;
            text-align: center;
            background-size: cover;
            background-color: #fff;
            margin-top: -35px;
        }

            .page-title > .theme__container > .content-box > .content-wrapper > .title > h1 {
                color: var(--theme-color) !important;
                text-transform: uppercase;
                background: rgba(0,0,0,0.5);
                width: fit-content;
            }
    </style>
  
}  



<main class="min-vw-100">
    <section class="page-title" style="background-image: url(img/blog/blog-s-1-4.jpg)">
        <div class="theme__container">
            <div class="content-box">
                <div class="content-wrapper">
                    <div class="title d-flex justify-content-center"><h1>Hotels</h1></div>
                </div>
            </div>
        </div>
    </section>
 <div class="container">
     <div class="row flex-row justify-content-center align-items-center my-5 py-5">
         <div class="col ">
             <div class="form-group">
                <input type="text" class="form-control" placeholder="Advance Search  Search By : HotelName , location , Rating" id="SearchField" />
             </div>
         </div>
     </div>
 </div>
    @* Show All Hotels here *@
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10 p-0">
                <div class="row jus">
                    <div class="col-auto  d-xl-block d-none">
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-10" id="CardContainer">
                @foreach (var hotel in Model)
                {
                    <div class="row mb-3">
                        <div class="col-lg-4 col-6 m-auto pe-md-0">
                            <div class="image">
                                <img src="~/@hotel.HotelImg" alt="" class="w-100" />
                            </div>
                        </div>
                        <div class="col-lg-8 kingho_block__38">
                            <div>
                                <h3>@hotel.HotelName</h3>
                                <div class="text-two col-8">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                    do eiusmod
                                    <br/>
                                    <br/>
                                    <span class="fw-bold">Location</span>@hotel.Location
                                </div>
                                <div class="text-two col-8">
                                </div>
                                <div class="kingho_inner_content_box">
                                    <div class="pricing">Rating: @hotel.Rating</div>
                                    <a href="/SingleHotel/@hotel.Hotelid" class="theme-btn btn-style-four"><span>View Hotel</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>




</main>

 @section Scripts{ 
   <script>
        $(document).ready(() => {
            $("#SearchField").on("keyup", ChangeData);

            function ChangeData() {
                let query = $("#SearchField").val();
                console.log(query);
                $.ajax({
                    url: "/AjaxSearch_Hotels",
                    method: "POST",
                    data: {
                        Query: query
                    },
                    success: function (response) {
                        try {
                            console.log(response);
                            let data = response;
                            console.log(data);
                                let c = $("#CardContainer");
                                let html;
                            if (data.length == 0) {
                                html = "<h1>No Data Available</h1>";
                                console.log("nodata available");
                            } else {
                                html = "";
                                for (i = 0; i < data.length;i++){
                                    let card = data[i];
                                    let Hotelid = card["Hotelid"];
                                    let HotelImg = card["HotelImg"];
                                    let HotelName = card["HotelName"];
                                    let Location = card["Location"];
                                    let Rating = card["Rating"];
                                    html += `

                                                     <div class="row mb-3">
                                                        <div class="col-lg-4 col-6 m-auto pe-md-0">
                                                            <div class="image">
                                                                <img src="/${HotelImg}" alt="" class="w-100" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 kingho_block__38">
                                                            <div>
                                                                <h3>${HotelName}</h3>
                                                                <div class="text-two col-8">
                                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                                    do eiusmod
                                                                    <br/>
                                                                            <br/>

                                                                        <span class="fw-bold">Location</span>${Location}
                                                                </div>
                                                                <div class="kingho_inner_content_box">
                                                                    <div class="pricing">Rating: ${Rating}</div>
                                                                    <a href="/SingleHotel/${Hotelid}" class="theme-btn btn-style-four"><span>View Hotel</span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                    `;
                                }





                                console.log("data available");
                            }
                            c.html(html);
                        } catch (error) {
                            console.error("Error parsing JSON:", error);
                        }
                    },
                    error: function (error) {
                        console.error("AJAX Error:", error);
                    }
                });
            }
        });
   </script>
 }