@{
    ViewData["Title"] = "Travon - Tour and Hotel Booking HTML Template - Tour";
}
@section MetaTags {
 
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="author" content="Adivaha">
        <meta name="description" content="Travon - Tour and Hotel Booking HTML Template">
        <meta name="keywords" content="Travon - Tour and Hotel Booking HTML Template">
        <meta name="robots" content="INDEX,FOLLOW">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="~/img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">


}

    <div class="breadcumb-wrapper" data-bg-src="~/img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Tour</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Tour</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="ot-tour-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-7">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 col-md-6 mb-30">
                            <div class="tour-card">
                                <div class="tour-card__img">
                                    <img src="~/img/trip/tour_1_1.jpg" alt="Tour Image">
                                    <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                                </div>
                                <div class="tour-card__content">
                                    <div class="tour-card__top">
                                        <a href="https://www.google.com/maps"
                                           class="tour-card__location">
                                            <i class="fa-light fa-location-dot"></i> Madrid,
                                            Spain
                                        </a>
                                        <div class="tour-card__rating">
                                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <h3 class="tour-card__title">
                                        <a href="tour-details.html">
                                            Brooklyn Beach Resort
                                            Tour
                                        </a>
                                    </h3>
                                    <div class="tour-meta">
                                        <span><i class="fa-light fa-clock"></i> 10 Days</span>
                                        <span><i class="fa-light fa-user-group"></i> 50+</span>
                                    </div>
                                    <div class="tour-card__bottom">
                                        <span class="tour-card__price">
                                            From <span class="price">$250</span>
                                        </span> <a href="tour-details.html"
                                                   class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6 mb-30">
                            <div class="tour-card">
                                <div class="tour-card__img">
                                    <img src="~/img/trip/tour_1_2.jpg" alt="Tour Image">
                                    <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                                </div>
                                <div class="tour-card__content">
                                    <div class="tour-card__top">
                                        <a href="https://www.google.com/maps"
                                           class="tour-card__location">
                                            <i class="fa-light fa-location-dot"></i>
                                            Chumphon, Thailand
                                        </a>
                                        <div class="tour-card__rating">
                                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <h3 class="tour-card__title">
                                        <a href="tour-details.html">Pak Chumphon Town Tour</a>
                                    </h3>
                                    <div class="tour-meta">
                                        <span><i class="fa-light fa-clock"></i> 12 Days</span>
                                        <span><i class="fa-light fa-user-group"></i> 70+</span>
                                    </div>
                                    <div class="tour-card__bottom">
                                        <span class="tour-card__price">
                                            From <span class="price">$450</span>
                                        </span> <a href="tour-details.html"
                                                   class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6 mb-30">
                            <div class="tour-card">
                                <div class="tour-card__img">
                                    <img src="~/img/trip/tour_1_3.jpg" alt="Tour Image">
                                    <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                                </div>
                                <div class="tour-card__content">
                                    <div class="tour-card__top">
                                        <a href="https://www.google.com/maps"
                                           class="tour-card__location">
                                            <i class="fa-light fa-location-dot"></i>
                                            Lasvegus, USA
                                        </a>
                                        <div class="tour-card__rating">
                                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <h3 class="tour-card__title">
                                        <a href="tour-details.html">Bali One Life Adventure</a>
                                    </h3>
                                    <div class="tour-meta">
                                        <span><i class="fa-light fa-clock"></i> 07 Days</span>
                                        <span><i class="fa-light fa-user-group"></i> 52+</span>
                                    </div>
                                    <div class="tour-card__bottom">
                                        <span class="tour-card__price">
                                            From <span class="price">$350</span>
                                        </span> <a href="tour-details.html"
                                                   class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6 mb-30">
                            <div class="tour-card">
                                <div class="tour-card__img">
                                    <img src="~/img/trip/tour_1_4.jpg" alt="Tour Image">
                                    <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                                </div>
                                <div class="tour-card__content">
                                    <div class="tour-card__top">
                                        <a href="https://www.google.com/maps"
                                           class="tour-card__location">
                                            <i class="fa-light fa-location-dot"></i>
                                            Barcelona, Spain
                                        </a>
                                        <div class="tour-card__rating">
                                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <h3 class="tour-card__title">
                                        <a href="tour-details.html">
                                            Places To Travel
                                            November
                                        </a>
                                    </h3>
                                    <div class="tour-meta">
                                        <span><i class="fa-light fa-clock"></i> 13 Days</span>
                                        <span><i class="fa-light fa-user-group"></i> 100+</span>
                                    </div>
                                    <div class="tour-card__bottom">
                                        <span class="tour-card__price">
                                            From <span class="price">$550</span>
                                        </span> <a href="tour-details.html"
                                                   class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6 mb-30">
                            <div class="tour-card">
                                <div class="tour-card__img">
                                    <img src="~/img/trip/tour_1_5.jpg" alt="Tour Image">
                                    <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                                </div>
                                <div class="tour-card__content">
                                    <div class="tour-card__top">
                                        <a href="https://www.google.com/maps"
                                           class="tour-card__location">
                                            <i class="fa-light fa-location-dot"></i>
                                            Lasvegus, USA
                                        </a>
                                        <div class="tour-card__rating">
                                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <h3 class="tour-card__title">
                                        <a href="tour-details.html">
                                            Brooklyn Christmas
                                            Lights
                                        </a>
                                    </h3>
                                    <div class="tour-meta">
                                        <span><i class="fa-light fa-clock"></i> 15 Days</span>
                                        <span><i class="fa-light fa-user-group"></i> 312+</span>
                                    </div>
                                    <div class="tour-card__bottom">
                                        <span class="tour-card__price">
                                            From <span class="price">$600</span>
                                        </span> <a href="tour-details.html"
                                                   class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6 mb-30">
                            <div class="tour-card">
                                <div class="tour-card__img">
                                    <img src="~/img/trip/tour_1_6.jpg" alt="Tour Image">
                                    <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                                </div>
                                <div class="tour-card__content">
                                    <div class="tour-card__top">
                                        <a href="https://www.google.com/maps"
                                           class="tour-card__location">
                                            <i class="fa-light fa-location-dot"></i> Madrid,
                                            Spain
                                        </a>
                                        <div class="tour-card__rating">
                                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <h3 class="tour-card__title">
                                        <a href="tour-details.html">
                                            Discovery Island
                                            Kayaking
                                        </a>
                                    </h3>
                                    <div class="tour-meta">
                                        <span><i class="fa-light fa-clock"></i> 18 Days</span>
                                        <span><i class="fa-light fa-user-group"></i> 500+</span>
                                    </div>
                                    <div class="tour-card__bottom">
                                        <span class="tour-card__price">
                                            From <span class="price">$250</span>
                                        </span> <a href="tour-details.html"
                                                   class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6 mb-30">
                            <div class="tour-card">
                                <div class="tour-card__img">
                                    <img src="~/img/trip/tour_1_7.jpg" alt="Tour Image">
                                    <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                                </div>
                                <div class="tour-card__content">
                                    <div class="tour-card__top">
                                        <a href="https://www.google.com/maps"
                                           class="tour-card__location">
                                            <i class="fa-light fa-location-dot"></i>
                                            Chumphon, Thailand
                                        </a>
                                        <div class="tour-card__rating">
                                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <h3 class="tour-card__title">
                                        <a href="tour-details.html">
                                            Los Glaciares & Fitz
                                            Trip
                                        </a>
                                    </h3>
                                    <div class="tour-meta">
                                        <span><i class="fa-light fa-clock"></i> 20 Days</span>
                                        <span><i class="fa-light fa-user-group"></i> 50+</span>
                                    </div>
                                    <div class="tour-card__bottom">
                                        <span class="tour-card__price">
                                            From <span class="price">$250</span>
                                        </span> <a href="tour-details.html"
                                                   class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6 mb-30">
                            <div class="tour-card">
                                <div class="tour-card__img">
                                    <img src="~/img/trip/tour_1_8.jpg" alt="Tour Image">
                                    <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                                </div>
                                <div class="tour-card__content">
                                    <div class="tour-card__top">
                                        <a href="https://www.google.com/maps"
                                           class="tour-card__location">
                                            <i class="fa-light fa-location-dot"></i>
                                            Lasvegus, USA
                                        </a>
                                        <div class="tour-card__rating">
                                            <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                        </div>
                                    </div>
                                    <h3 class="tour-card__title">
                                        <a href="tour-details.html">Kupland Christmas Tour</a>
                                    </h3>
                                    <div class="tour-meta">
                                        <span><i class="fa-light fa-clock"></i> 06 Days</span>
                                        <span><i class="fa-light fa-user-group"></i> 60+</span>
                                    </div>
                                    <div class="tour-card__bottom">
                                        <span class="tour-card__price">
                                            From <span class="price">$550</span>
                                        </span> <a href="tour-details.html"
                                                   class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ot-pagination text-center">
                        <ul>
                            <li><a href="blog.html">1</a></li>
                            <li><a href="blog.html">2</a></li>
                            <li><a href="blog.html">3</a></li>
                            <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
                        <div class="widget widget_search">
                            <form class="search-form">
                                <input type="text" placeholder="Enter Keyword"> <button type="submit">
                                    <i class="far fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widget widget_categories">
                            <h3 class="widget_title">Tour Categories</h3>
                            <ul>
                                <li><a href="blog.html">Hill Tracking(8)</a></li>
                                <li><a href="blog.html">Adventure(5)</a></li>
                                <li><a href="blog.html">Village Beauty(6)</a></li>
                                <li><a href="blog.html">Night View(8)</a></li>
                                <li><a href="blog.html">Religious Place(7)</a></li>
                                <li><a href="blog.html">Lake View(3)</a></li>
                                <li><a href="blog.html">Sea Area(5)</a></li>
                                <li><a href="blog.html">Resourt(4)</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="widget_title">Last Minute Deals</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html">
                                            <img src="~/img/trip/recent-tour-1-1.jpg" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title">
                                            <a class="text-inherit" href="blog-details.html">
                                                Brooklyn
                                                Christmas Lights
                                            </a>
                                        </h4><span class="tour-price">
                                            From <span class="price">250$</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html">
                                            <img src="~/img/trip/recent-tour-1-2.jpg" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title">
                                            <a class="text-inherit" href="blog-details.html">
                                                Java &
                                                Bali One Life Adventure
                                            </a>
                                        </h4><span class="tour-price">
                                            From <span class="price">250$</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html">
                                            <img src="~/img/trip/recent-tour-1-3.jpg" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title">
                                            <a class="text-inherit" href="blog-details.html">
                                                Places
                                                To Travel In November
                                            </a>
                                        </h4><span class="tour-price">
                                            From <span class="price">250$</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html">
                                            <img src="~/img/trip/recent-tour-1-3.jpg" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title">
                                            <a class="text-inherit" href="blog-details.html">
                                                Pak Nam
                                                Chumphon Town Tour
                                            </a>
                                        </h4><span class="tour-price">
                                            From <span class="price">250$</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget_banner">
                            <div class="offer-banner">
                                <div class="banner-logo"><img src="~/img/logo-white.svg" alt="Travon"></div><span class="banner-subtitle">Happy Holiday</span>
                                <h3 class="banner-title">Adventure Ture</h3>
                                <div class="offer">
                                    <h6 class="offer-title"><span class="text-theme">Travon</span> Special</h6>
                                    <p class="offer-text"><span class="text-theme">30% off</span> On All Booking</p>
                                </div><a href="contact.html" class="ot-btn">Get A Quote</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <section class="" data-pos-for=".footer-wrapper" data-sec-pos="bottom-half">
        <div class="container">
            <div class="newsletter-wrap" data-bg-src="~/img/bg/subscribe_bg_1.svg">
                <h2 class="sec-title text-white mb-2">Get Special Offers And More From Travon</h2>
                <p class="text-white fs-md mb-4">Sign up now and get the best deals straight in your inbox!</p>
                <form class="newsletter-form">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Email Address"
                               required=""> <i class="fal fa-envelope"></i>
                    </div><button type="submit"
                                  class="ot-btn">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </section>
