@model List<HotelViewModel>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            <div class="row justify-content-between">
                <div class="col-auto">Hotel List</div>
                <div class="col-auto"><a href="/Hotel/Create" class="btn btn-outline-primary px-3 py-2">Create</a></div>
            </div>
        </h4>
        <h6 class="card-subtitle">Add class <code>.table</code></h6>
        <div class="table-responsive">
            <table class="table user-table">
                <thead>
                    <tr>
                        <th class="border-top-0">#</th>
                        <th class="border-top-0">HotelImg</th>
                        <th class="border-top-0">HotelName</th>
                        <th class="border-top-0">Location</th>
                        <th class="border-top-0">Rating</th>
                        <th class="border-top-0">Edit</th>
                        <th class="border-top-0">Delete</th>
                    </tr>
                </thead>
                <tbody>
                 @foreach (var Hotel in Model)
                 {
                        <tr>
                            <td>@Hotel.HotelID</td>
                            <td><img src="~/@Hotel.HotelImg" style="width:50px; border-radius:50%;"/></td>
                            <td>@Hotel.HotelName</td>
                            <td>@Hotel.Location</td>
                            <td>@Hotel.Rating</td>
                            <td><a href="/Hotel/Edit/@Hotel.HotelID" class="btn btn-success">Edit</a></td>
                            <td><a href="/Hotel/Delete/@Hotel.HotelID" class="btn btn-danger">Delete</a></td>
                        </tr>       
                 }
                </tbody>
            </table>
        </div>
    </div>
</div>