@{
    ViewData["Title"] = "Travon - Tour and Hotel Booking HTML Template - Destination details";
}
@section MetaTags {
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="author" content="Adivaha">
    <meta name="description" content="Travon - Tour and Hotel Booking HTML Template">
    <meta name="keywords" content="Travon - Tour and Hotel Booking HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
}

<div class="breadcumb-wrapper" data-bg-src="~/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Destination details</h1>
            <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>Destination details</li>
            </ul>
        </div>
    </div>
</div>
<section class="space-top space-extra-bottom">
    <div class="container">
        <div class="destination-details">
            <h2 class="h3 destination-title"><i class="fas fa-location-dot"></i>Paris</h2>
            <p class="mb-4">
                Dynamically leverage other's excellent collaboration and idea-sharing via multimedia
                based applications. Appropriately incentivize go forward leadership skills rather than business
                processes. Globally synthesize focused innovation vis-à-vis resource sucking technology.
                Monotonically recapitalize client-centered markets rather than excellent paradigms. Objectively
                orchestrate multifunctional. Efficiently implement accurate e-services after superior imperatives.
            </p>
            <p class="mb-40">
                Collaboratively architect one-to-one niche markets vis-à-vis alternative niche market.
                Completely engineer alternative mindshare vis-à-vis strategic total linkage. Efficiently formulate
                worldwide schemas without interdependent metric. Dramatically morph compelling growth strategies
                whereas standardized processes. Credibly embrace extensive core competencies after reliable channel.
                Conveniently parallel task strategic sources for team driven leadership skills. Distinctively build
                cross-media potentialities via unique technology. Energetically reintermediation. Monotonically
                monetize reliable networks vis-à-vis extensive mindshare. Monotonically restore standards compliant
                e-tailers before equity invested e-business. Assertively mecarbinate interdependent infrastructures
                whereas cooperative e-services. Proactively restore emerging.
            </p>
            <h3 class="h4 mb-20">Hiking</h3>
            <p class="mb-4">
                Seamlessly streamline world-class paradigms and 2.0 materials. Completely network
                excellent bandwidth without extensive convergence. Continually facilitate user-centric portals
                whereas highly efficient core competencies. Synergistically grow enterprise result for
                principle-centered niche market. Monotonically parallel task cross-media data for economically sound
                partnerships. Objectively pontificate equity invested partnerships through multimedia based
                relationships. Proactively visualize resource maximizing leadership skills and fully tested
                solutions. Dramatically simplify focused results via innovative action items. Seamlessly incubate
                just in time e-markets after revolutionary ideas. Completely parallel task dynamic total linkage
                after e-business niche markets.
            </p>
            <p class="mb-4">
                Compellingly maintain client-focused technology for functionalized innovation.
                Competently maximize interactive interfaces via intermediated action items. Conveniently utilize
                extensible functionalities before high-payoff initiatives. Rapaciously transition efficient markets
                vis-à-vis adaptive leadership. Globally disintermediate synergistic networks through web-enabled
                results. Globally harness cross-platform content via economically sound partnerships. Proactively.
            </p>
            <div class="row mb-40 ot-carousel slider-shadow" data-slide-show="3" data-md-slide-show="2"
                 data-sm-slide-show="1">
                <div class="col-lg-4 col-md-6">
                    <div class="tour-card">
                        <div class="tour-card__img">
                            <img src="~/img/trip/tour_4_1.jpg" alt="Tour Image"> <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                        </div>
                        <div class="tour-card__content">
                            <div class="tour-card__top">
                                <a href="https://www.google.com/maps"
                                   class="tour-card__location"><i class="fa-light fa-location-dot"></i> Paris</a>
                                <div class="tour-card__rating">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <h3 class="tour-card__title">
                                <a href="/Transportation/Tour/Details">Brooklyn Beach Resort Tour</a>
                            </h3>
                            <div class="tour-meta">
                                <span><i class="fa-light fa-clock"></i> 10 Days</span> <span>
                                    <i class="fa-light fa-user-group"></i> 50+
                                </span>
                            </div>
                            <div class="tour-card__bottom">
                                <span class="tour-card__price">
                                    From <span class="price">$250</span>
                                </span> <a href="/Transportation/Tour/Details"
                                           class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="tour-card">
                        <div class="tour-card__img">
                            <img src="~/img/trip/tour_4_2.jpg" alt="Tour Image"> <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                        </div>
                        <div class="tour-card__content">
                            <div class="tour-card__top">
                                <a href="https://www.google.com/maps"
                                   class="tour-card__location"><i class="fa-light fa-location-dot"></i> Paris</a>
                                <div class="tour-card__rating">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <h3 class="tour-card__title"><a href="/Transportation/Tour/Details">Pak Chumphon Town Tour</a></h3>
                            <div class="tour-meta">
                                <span><i class="fa-light fa-clock"></i> 12 Days</span> <span>
                                    <i class="fa-light fa-user-group"></i> 70+
                                </span>
                            </div>
                            <div class="tour-card__bottom">
                                <span class="tour-card__price">
                                    From <span class="price">$450</span>
                                </span> <a href="/Transportation/Tour/Details"
                                           class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="tour-card">
                        <div class="tour-card__img">
                            <img src="~/img/trip/tour_4_3.jpg" alt="Tour Image"> <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                        </div>
                        <div class="tour-card__content">
                            <div class="tour-card__top">
                                <a href="https://www.google.com/maps"
                                   class="tour-card__location"><i class="fa-light fa-location-dot"></i> Paris</a>
                                <div class="tour-card__rating">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <h3 class="tour-card__title">
                                <a href="/Transportation/Tour/Details">Bali One Life Adventure</a>
                            </h3>
                            <div class="tour-meta">
                                <span><i class="fa-light fa-clock"></i> 07 Days</span> <span>
                                    <i class="fa-light fa-user-group"></i> 52+
                                </span>
                            </div>
                            <div class="tour-card__bottom">
                                <span class="tour-card__price">
                                    From <span class="price">$350</span>
                                </span> <a href="/Transportation/Tour/Details"
                                           class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="h4 mb-20">Hot Air Ballon</h3>
            <p class="mb-4">
                Phosphorescently grow cross-unit total linkage and timely partnerships. Efficiently
                fabricate standardized manufactured products for an expanded array of users. Completely productivity
                world-class communities before backend core competencies. Holistically engineer maintainable
                leadership rather than intermediated innovation. Proactively fabricate emerging meta-services
                whereas best-of-breed outsourcing. Interactively integrate premier outsourcing without backend
                infomediaries. Conveniently leverage existing process-centric human capital via corporate ideas.
                Quickly maintain exceptional infomediaries via low-risk high-yield potentialities. Rapaciously
                administrate stand-alone testing procedures for pandemic human capital. Competently evolve ethical
                expertise with world-class platforms.
            </p>
            <p class="mb-4">
                Objectively restore mission-critical niche and leveraged collaboration and idea-sharing.
                Phosphorescently procrastinate principle-centered scenario and tactical synergy. Appropriately
                plagiarize open-source manufactured product and customer directed opportunity. Continually transform
                integrated content rather than unique web-readiness. Intrinsically pontificate enterprise-wide
                services for optimal results.
            </p>
            <div class="row mb-30 ot-carousel slider-shadow" data-slide-show="3" data-md-slide-show="2"
                 data-sm-slide-show="1">
                <div class="col-lg-4 col-md-6">
                    <div class="tour-card">
                        <div class="tour-card__img">
                            <img src="~/img/trip/tour_4_4.jpg" alt="Tour Image"> <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                        </div>
                        <div class="tour-card__content">
                            <div class="tour-card__top">
                                <a href="https://www.google.com/maps"
                                   class="tour-card__location"><i class="fa-light fa-location-dot"></i> Paris</a>
                                <div class="tour-card__rating">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <h3 class="tour-card__title">
                                <a href="/Transportation/Tour/Details">Brooklyn Beach Resort Tour</a>
                            </h3>
                            <div class="tour-meta">
                                <span><i class="fa-light fa-clock"></i> 10 Days</span> <span>
                                    <i class="fa-light fa-user-group"></i> 50+
                                </span>
                            </div>
                            <div class="tour-card__bottom">
                                <span class="tour-card__price">
                                    From <span class="price">$250</span>
                                </span> <a href="/Transportation/Tour/Details"
                                           class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="tour-card">
                        <div class="tour-card__img">
                            <img src="~/img/trip/tour_4_5.jpg" alt="Tour Image"> <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                        </div>
                        <div class="tour-card__content">
                            <div class="tour-card__top">
                                <a href="https://www.google.com/maps"
                                   class="tour-card__location"><i class="fa-light fa-location-dot"></i> Paris</a>
                                <div class="tour-card__rating">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <h3 class="tour-card__title"><a href="/Transportation/Tour/Details">Pak Chumphon Town Tour</a></h3>
                            <div class="tour-meta">
                                <span><i class="fa-light fa-clock"></i> 12 Days</span> <span>
                                    <i class="fa-light fa-user-group"></i> 70+
                                </span>
                            </div>
                            <div class="tour-card__bottom">
                                <span class="tour-card__price">
                                    From <span class="price">$450</span>
                                </span> <a href="/Transportation/Tour/Details"
                                           class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="tour-card">
                        <div class="tour-card__img">
                            <img src="~/img/trip/tour_4_6.jpg" alt="Tour Image"> <span class="tour-card__tag"><i class="far fa-heart"></i></span>
                        </div>
                        <div class="tour-card__content">
                            <div class="tour-card__top">
                                <a href="https://www.google.com/maps"
                                   class="tour-card__location"><i class="fa-light fa-location-dot"></i> Paris</a>
                                <div class="tour-card__rating">
                                    <i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i><i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <h3 class="tour-card__title">
                                <a href="/Transportation/Tour/Details">Bali One Life Adventure</a>
                            </h3>
                            <div class="tour-meta">
                                <span><i class="fa-light fa-clock"></i> 07 Days</span> <span>
                                    <i class="fa-light fa-user-group"></i> 52+
                                </span>
                            </div>
                            <div class="tour-card__bottom">
                                <span class="tour-card__price">
                                    From <span class="price">$350</span>
                                </span> <a href="/Transportation/Tour/Details"
                                           class="link-btn">See Details <i class="fas fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="" data-pos-for=".footer-wrapper" data-sec-pos="bottom-half">
    <div class="container">
        <div class="newsletter-wrap" data-bg-src="~/img/bg/subscribe_bg_1.svg">
            <h2 class="sec-title text-white mb-2">Get Special Offers And More From Travon</h2>
            <p class="text-white fs-md mb-4">Sign up now and get the best deals straight in your inbox!</p>
            <form class="newsletter-form">
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email Address"
                           required=""> <i class="fal fa-envelope"></i>
                </div><button type="submit"
                              class="ot-btn">
                    Subscribe
                </button>
            </form>
        </div>
    </div>
</section>