@{
    ViewData["Title"] = "Hotels | Book last-minute hotels &amp; more | Booking.com";
}
 

@section LinkStyle{
    <link rel="stylesheet" id="main-css-preload"
          href="https://cf.bstatic.com/static/css/main_cloudfront_sd.iq_ltr/304bf0a6b80d8d5c92ad68e080281ecf5cea78aa.css"
          data-main-css="1">

    <link rel="stylesheet"
          href="https://cf.bstatic.com/static/css/main_exps_cloudfront_sd.iq_ltr/586b07455f7783cafa801bdea38881f1f98ad36d.css">
    <link rel="stylesheet"
          href="https://cf.bstatic.com/static/css/gprof_icons_cloudfront_sd.iq_ltr/f2fce41920df3c9225af5c680c3a8127d2caaceb.css">

    <link rel="stylesheet" type="text/css"
          href="https://cf.bstatic.com/static/css/xp-index-sb_cloudfront_sd.iq_ltr/7d56b924a6c248d579afe82a520d9a6abc96b9c7.css"
          media="screen, print">
    <link rel="stylesheet" type="text/css"
          href="https://cf.bstatic.com/static/css/xp-index-sb_cloudfront_sd.iq_ltr/7d56b924a6c248d579afe82a520d9a6abc96b9c7.css">
    <link rel="stylesheet"
          href="https://cf.bstatic.com/static/css/theme_landing_index_cloudfront_sd.iq_ltr/221302cc09801af5f817f8c0d60c34411639e08c.css"
          media="screen">
    <link rel="stylesheet" type="text/css"
          href="https://cf.bstatic.com/static/css/incentives_cloudfront_sd.iq_ltr/f1558a6e9832a4eb8cfe1d3d14db176bd3564335.css"
          media="screen">
    <style>

        ::selection {
            color: #fff;
            background: #ff654a;
        }

        .wrapper {
            max-width: 450px;
            margin: 150px auto;
        }

            .wrapper .search-input {
                background: #fff;
                width: 100%;
                border-radius: 5px;
                position: relative;
                box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
            }

        .search-input input {
            height: 55px;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 0 60px 0 20px;
            font-size: 18px;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
        }

        .search-input.active input {
            border-radius: 5px 5px 0 0;
        }

        .search-input .autocom-box {
            padding: 0;
            opacity: 0;
            pointer-events: none;
            max-height: 280px;
            overflow-y: auto;
        }

        .search-input.active .autocom-box {
            padding: 10px 8px;
            opacity: 1;
            pointer-events: auto;
        }

        .autocom-box li {
            list-style: none;
            padding: 8px 12px;
            display: none;
            width: 100%;
            cursor: default;
            border-radius: 3px;
        }

        .search-input.active .autocom-box li {
            display: block;
        }

        .autocom-box li:hover {
            background: #efefef;
        }

        .search-input .icon {
            position: absolute;
            right: 0px;
            top: 0px;
            height: 55px;
            width: 55px;
            text-align: center;
            line-height: 55px;
            font-size: 20px;
            color: #e4ff4b;
            cursor: pointer;
        }
    </style>
  
}  
<main class="min-vw-100">
    <div class="lp-bui-section-hotel-index bui-spacer--largest">
        <div class="lp-hero lp-hero--cover">
            <div class="lp-hero__content">
                <div class="lp-hero__bg-image " style="background-image: url('https://cf.bstatic.com');">
                    <div class="lp-hero__mask lp-hero__mask--campaign "></div>
                </div>
                <div class="lp-hero__searchbox-container ">
                    <div class="lp-hero__searchbox xpi__searchbox " id="indexsearch">
                        <h1 class="sb-searchbox__title">
                            <span class="sb-searchbox__title-text">
                                Find Your Ideal Hotel with Karnel Travel Agency
                            </span>
                        </h1>
                        <h2 class="sb-searchbox__subtitle-text">
                            From budget hotels to luxury rooms and everything in between
                        </h2>
                        <div class="sb-searchbox__outer container py-3 rounded-5 my-3" data-sb-outer" style="background-color: #fff; border: 1px solid #eee; border-radius: 5px;">
                            <form class="row g-3 px-2 gap-2 position-relative" action="/BookHotel" method="post">

                                    <div class="col-3 mx-0 px-0">
                                        <label for="location" class="mb-0" style="color: #333;">Location</label>
                                          <div class="search-input ">
                                            <a href="" target="_blank" hidden></a>
                                            <input class="searchInp" type="text" placeholder="Type to search..">
                                            <div class="autocom-box position-absolute shadow rounded" style="min-width:256px; background:white;">
                                            <!-- here list are inserted from javascript -->
                                            </div> 
                                          </div>
                              
                                    </div>
                                    <div class="col-2 mx-0 px-0">
                                        <label for="arrivalTime" class="mb-0" style="color: #333;">Arrival Time</label>
                                        <input type="date" min="" id="arrivalTime" name="arrivalTime" class="arrivalTime form-control bg-orange-100 text-dark" required="" style="border: 1px solid #eee; border-radius: 5px;">
                                    </div>
                                    <div class="col-2 mx-0 px-0">
                                        <label for="departureTime" class="mb-0" style="color: #333;">Departure Time</label>
                                        <input type="date" id="departureTime" name="departureTime" class="form-control arrivalTime bg-orange-100 text-dark" required="" style="border: 1px solid #eee; border-radius: 5px;">
                                    </div>
                                    <script>
                                        const today = new Date().toISOString().slice(0, 10); // Get today's date in YYYY-MM-DD format
                                        document.getElementsByClassName('arrivalTime').min = today; // Set the input's min attribute to today's date
                                    </script>
                                <div class="col-3 mx-0 px-0">
                                    <label for="location" class="mb-0" style="color: #333;">Persons</label>
                                    <div class="search-input ">
                                        <a href="" target="_blank" hidden></a>
                                        <input class="searchInp" type="text" placeholder="Type to search..">
                                        <div class="autocom-box position-absolute shadow rounded" style="min-width:256px; background:white;">
                                            <!-- here list are inserted from javascript -->
                                        </div>
                                    </div>

                                </div>
                                    <div class="col-auto mx-0 px-0 flex-grow-1 ">
                                    <div class="row h-100 w-100 p-0 m-0 justify-content-center align-content-end">
                                        <div class="col-auto p-0 m-0 w-100 h-75">
                                                <button type="submit" class=" btn btn-primary w-100 h-100" style="background-color: #007a5a; border: 1px solid #007a5a; border-radius: 5px;">Search</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lp-bui-section-wrap">
  

        
        <div class="lp-bui-section bui-spacer--largest x2">
            <div class="lp-bui-section-hotel-index lp-hotel__segments">
                <header class="bui-segment-header-stacked bui-spacer--medium">
                    <h2 class="bui-segment-header">Looking for a particular type of hotel?</h2>
                    <h3 class="bui-segment-subheader">Find the best hotel for your trip, whatever the budget or occasion</h3>
                </header>
                <div class="bui-tab" data-bui-component="Tab" data-more-translation="More">
                    <ul class="bui-tab__nav bui-spacer--large" role="tablist">
                        <li class="bui-tab__item" data-bui-ref="tab-item">
                            <button class="bui-tab__link bui-tab__link--selected" data-bui-ref="tab-button" data-tab-id="1">
                                Pet-Friendly
                            </button>
                        </li>
                    </ul>
                    <div class="bui-tab__content bui-tab__content--selected" data-bui-ref="tab-content" data-tab-id="1" role="tabpanel">
                        <div role="region" class="bui-carousel bui-carousel--medium bui-u-bleed@small lp-hotel__segments_items" data-bui-component="Carousel">
                            <ul class="bui-carousel__inner" data-bui-ref="carousel-container">
                                <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                    <div class="lp-hotel__segments_item_indicator">
                                        <a aria-label="
See more pet-friendly hotels
" href="/pets/index.html" class="bui-card bui-u-bleed@small bui-card--media bui-card--media-alt">
                                            <div class="bui-card__image-container">
                                                <img class="bui-card__image" alt="
See more pet-friendly hotels
" src="https://cf.bstatic.com/xdata/images/xphoto/250x250/45450081.jpg?k=6e13da6b4c5ecd43a74dcdad5d974ddf8e3a8560088929bdb7ef54d0b6f5565c&amp;o=">
                                                <header class="bui-card__header">
                                                    <h3 class="bui-card__title">
                                                        See more pet-friendly hotels
                                                    </h3>
                                                </header>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                    <div class="hotel-card__default bui-card bui-card--media" onclick="location.href='/hotel/ae/wyndham-dubai-marina.html'" itemscope="" itemtype="http://schema.org/Hotel" data-et-click="customGoal:BPHMAbFJfYCSKBZBLSRe:5">
                                        <div class="bui-card__image-container">
                                            <img alt="Wyndham Dubai Marina" class="bui-card__image" src="https://cf.bstatic.com/xdata/images/hotel/square250/490466249.jpg?k=32c674a12bfd87a87f04d2eab3404fa6134b0ee697e33b9c85cd2f62c2710d88&amp;o=" itemprop="image">
                                        </div>
                                        <div class="bui-card__content">
                                            <header class="bui-card__header bui-spacer--medium">
                                                <a class="bui-card__header_full_link_wrap" href="/hotel/ae/wyndham-dubai-marina.html" title="Wyndham Dubai Marina">
                                                    <h3 class="bui-card__title" itemprop="name">
                                                        Wyndham Dubai Marina
                                                        <i class="
bk-icon-wrapper
" title="">
                                                            <svg aria-hidden="true" class="bk-icon -sprite-ratings_circles_4" focusable="false" height="10" width="46" viewBox="0 0 46 10" role="presentation">
                                                                <g fill="#feba02">
                                                                    <circle cx="5" cy="5" r="5"></circle>
                                                                    <circle cx="17" cy="5" r="5"></circle>
                                                                    <circle cx="29" cy="5" r="5"></circle>
                                                                    <circle cx="41" cy="5" r="5"></circle>
                                                                </g>
                                                            </svg>
                                                            <span class="invisible_spoken"></span>
                                                        </i>
                                                    </h3>
                                                    <p class="bui-card__subtitle" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                                        <span itemprop="addressLocality">
                                                            Pet-Friendly Hotel in Dubai
                                                        </span>
                                                    </p>
                                                </a>
                                            </header>
                                            <div class="hotel-card__text bui-spacer--medium">
                                            </div>
                                            <div class="bui-card__text">

                                                <span class=" review-score-widget review-score-widget__very_good review-score-widget__text-only  review-score-widget__inline       ">
                                                    <span class="review-score-badge" aria-label="Scored 8.3 ">
                                                        8.3
                                                    </span>
                                                    <span class="review-score-widget__text" aria-label="Rated very good">
                                                        Very Good
                                                    </span>
                                                    <span class="review-score-widget__subtext" aria-label=" from 13,783 reviews">
                                                        13,783 reviews
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                    <div class="hotel-card__default bui-card bui-card--media" onclick="location.href='/hotel/ae/tryp-by-wyndham-dubai.html'" itemscope="" itemtype="http://schema.org/Hotel" data-et-click="customGoal:BPHMAbFJfYCSKBZBLSRe:5">
                                        <div class="bui-card__image-container">
                                            <img alt="TRYP by Wyndham Dubai" class="bui-card__image" src="https://cf.bstatic.com/xdata/images/hotel/square250/357661741.jpg?k=c9ad9f2246b01cdb0c2c08b18c3da27150877bce9c4539bc60a340306a945ac3&amp;o=" itemprop="image">
                                        </div>
                                        <div class="bui-card__content">
                                            <header class="bui-card__header bui-spacer--medium">
                                                <a class="bui-card__header_full_link_wrap" href="/hotel/ae/tryp-by-wyndham-dubai.html" title="TRYP by Wyndham Dubai">
                                                    <h3 class="bui-card__title" itemprop="name">
                                                        TRYP by Wyndham Dubai
                                                        <i class="
bk-icon-wrapper
" title="">
                                                            <svg aria-hidden="true" class="bk-icon -sprite-ratings_circles_4" focusable="false" height="10" width="46" viewBox="0 0 46 10" role="presentation">
                                                                <g fill="#feba02">
                                                                    <circle cx="5" cy="5" r="5"></circle>
                                                                    <circle cx="17" cy="5" r="5"></circle>
                                                                    <circle cx="29" cy="5" r="5"></circle>
                                                                    <circle cx="41" cy="5" r="5"></circle>
                                                                </g>
                                                            </svg>
                                                            <span class="invisible_spoken"></span>
                                                        </i>
                                                    </h3>
                                                    <p class="bui-card__subtitle" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                                        <span itemprop="addressLocality">
                                                            Pet-Friendly Hotel in Dubai
                                                        </span>
                                                    </p>
                                                </a>
                                            </header>
                                            <div class="hotel-card__text bui-spacer--medium">
                                            </div>
                                            <div class="bui-card__text">

                                                <span class=" review-score-widget review-score-widget__very_good review-score-widget__text-only  review-score-widget__inline       ">
                                                    <span class="review-score-badge" aria-label="Scored 8.5 ">
                                                        8.5
                                                    </span>
                                                    <span class="review-score-widget__text" aria-label="Rated very good">
                                                        Very Good
                                                    </span>
                                                    <span class="review-score-widget__subtext" aria-label=" from 17,112 reviews">
                                                        17,112 reviews
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                    <div class="hotel-card__default bui-card bui-card--media" onclick="location.href='/hotel/dk/comfort-copenhagen-airport.html'" itemscope="" itemtype="http://schema.org/Hotel" data-et-click="customGoal:BPHMAbFJfYCSKBZBLSRe:5">
                                        <div class="bui-card__image-container">
                                            <img alt="Comfort Hotel Copenhagen Airport" class="bui-card__image" src="https://cf.bstatic.com/xdata/images/hotel/square250/293888001.jpg?k=141181817c09b1f8a14538ed33d02007a8e1ee0a9474de2dcc2e89b245855da4&amp;o=" itemprop="image">
                                        </div>
                                        <div class="bui-card__content">
                                            <header class="bui-card__header bui-spacer--medium">
                                                <a class="bui-card__header_full_link_wrap" href="/hotel/dk/comfort-copenhagen-airport.html" title="Comfort Hotel Copenhagen Airport">
                                                    <h3 class="bui-card__title" itemprop="name">
                                                        Comfort Hotel Copenhagen Airport
                                                        <i class="
bk-icon-wrapper
" title="">
                                                            <svg aria-hidden="true" class="bk-icon -sprite-ratings_circles_3" focusable="false" height="10" width="34" viewBox="0 0 34 10" role="presentation">
                                                                <g fill="#feba02">
                                                                    <circle cx="5" cy="5" r="5"></circle>
                                                                    <circle cx="17" cy="5" r="5"></circle>
                                                                    <circle cx="29" cy="5" r="5"></circle>
                                                                </g>
                                                            </svg>
                                                            <span class="invisible_spoken"></span>
                                                        </i>
                                                    </h3>
                                                    <p class="bui-card__subtitle" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                                        <span itemprop="addressLocality">
                                                            Pet-Friendly Hotel in Copenhagen
                                                        </span>
                                                    </p>
                                                </a>
                                            </header>
                                            <div class="hotel-card__text bui-spacer--medium">
                                            </div>
                                            <div class="bui-card__text">

                                                <span class=" review-score-widget review-score-widget__very_good review-score-widget__text-only  review-score-widget__inline       ">
                                                    <span class="review-score-badge" aria-label="Scored 8.0 ">
                                                        8.0
                                                    </span>
                                                    <span class="review-score-widget__text" aria-label="Rated very good">
                                                        Very Good
                                                    </span>
                                                    <span class="review-score-widget__subtext" aria-label=" from 17,549 reviews">
                                                        17,549 reviews
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="bui-carousel__nav">
                                <button type="button" class="bui-carousel__button" aria-label="Previous" data-bui-ref="carousel-prev">
                                    <svg class="bk-icon -streamline-arrow_nav_left bui-carousel__prev" height="32" width="32" viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false">
                                        <path d="M14.55 18a.74.74 0 0 1-.53-.22l-5-5A1.08 1.08 0 0 1 8.7 12a1.1 1.1 0 0 1 .3-.78l5-5a.75.75 0 0 1 1.06 0 .74.74 0 0 1 0 1.06L10.36 12l4.72 4.72a.74.74 0 0 1 0 1.06.73.73 0 0 1-.53.22zm-4.47-5.72zm0-.57z">
                                        </path>
                                    </svg>
                                </button>
                                <button type="button" class="bui-carousel__button" aria-label="Next" data-bui-ref="carousel-next">
                                    <svg class="bk-icon -streamline-arrow_nav_right bui-carousel__next" height="32" width="32" viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false">
                                        <path d="M9.45 6c.2 0 .39.078.53.22l5 5c.208.206.323.487.32.78a1.1 1.1 0 0 1-.32.78l-5 5a.75.75 0 0 1-1.06 0 .74.74 0 0 1 0-1.06L13.64 12 8.92 7.28a.74.74 0 0 1 0-1.06.73.73 0 0 1 .53-.22zm4.47 5.72zm0 .57z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="lp-bui-section bui-spacer--largest x2">
            <div class="lp-bui-section-hotel-index lp-hotel__other_accomodations">
                <div class="other-property-types">
                    <header class="bui-segment-header-stacked bui-spacer--largest">
                        <h2 class="bui-segment-header">More accommodations on Booking.com</h2>
                        <h3 class="bui-segment-subheader">
                            Dive into our world of apartments, villas, and other unique
                            accommodations
                        </h3>
                    </header>
                    <div role="region" class="bui-carousel bui-carousel--medium bui-u-bleed@small" data-bui-component="Carousel">
                        <ul class="bui-carousel__inner" data-bui-ref="carousel-container">
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Apartments" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/apartments/index.html'; return false;">
                                        <img class="bui-card__image" alt="Apartments" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450050.jpg?k=88c63754ac94ca3faad2a1b7e723f42af646e19d5b2d711d75b0c9045cb5349a&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/apartments/index.html" title="Apartments">
                                                <h3 class="bui-card__title">
                                                    Apartments
                                                </h3>
                                                <h4 class="bui-card__subtitle">1,226,882 apartments</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Resorts" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/resorts/index.html'; return false;">
                                        <img class="bui-card__image" alt="Resorts" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450084.jpg?k=2ae8e4858809ea16a1f25723d8473a56dabd2216cbddc4562d1711431fbe6669&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/resorts/index.html" title="Resorts">
                                                <h3 class="bui-card__title">
                                                    Resorts
                                                </h3>
                                                <h4 class="bui-card__subtitle">19,659 resorts</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Villas" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/villas/index.html'; return false;">
                                        <img class="bui-card__image" alt="Villas" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450059.jpg?k=8a9a29e142fe0ffcdffe3cc546b9d5d984486f44a103bb17b63d238888b19364&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/villas/index.html" title="Villas">
                                                <h3 class="bui-card__title">
                                                    Villas
                                                </h3>
                                                <h4 class="bui-card__subtitle">659,514 villas</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Cabins" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/chalet/index.html'; return false;">
                                        <img class="bui-card__image" alt="Cabins" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450062.jpg?k=ad1dbdcbc896333ee5a8c86323609a8fe16448b71f6a59e1fc362866bd2a87cb&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/chalet/index.html" title="Cabins">
                                                <h3 class="bui-card__title">
                                                    Cabins
                                                </h3>
                                                <h4 class="bui-card__subtitle">48,111 cabins</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Cottages" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/cottages/index.html'; return false;">
                                        <img class="bui-card__image" alt="Cottages" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450074.jpg?k=e578787c000311bdf304afa99351d2ba0c93b056574d0f672142d9cf8eaf2f97&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/cottages/index.html" title="Cottages">
                                                <h3 class="bui-card__title">
                                                    Cottages
                                                </h3>
                                                <h4 class="bui-card__subtitle">715,246 cottages</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Glamping" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/glamping/index.html'; return false;">
                                        <img class="bui-card__image" alt="Glamping" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450090.jpg?k=33ba42d57ee010267da49853c0bcba6396187758a50c0b5a2d5a4ef02c6080f0&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/glamping/index.html" title="Glamping">
                                                <h3 class="bui-card__title">
                                                    Glamping
                                                </h3>
                                                <h4 class="bui-card__subtitle">16,242 Glamping Sites</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Serviced Apartments" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/aparthotels/index.html'; return false;">
                                        <img class="bui-card__image" alt="Serviced Apartments" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450058.jpg?k=8b11f52a6c17b89be07700d1d50349aace8508828688c815a73cff9f5b7c75a7&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/aparthotels/index.html" title="Serviced Apartments">
                                                <h3 class="bui-card__title">
                                                    Serviced Apartments
                                                </h3>
                                                <h4 class="bui-card__subtitle">39,088 serviced apartments</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Vacation Homes" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/holiday-homes/index.html'; return false;">
                                        <img class="bui-card__image" alt="Vacation Homes" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450113.jpg?k=01a785412610f2ca550a2438800cb7cc88899e15f618ae4d9833dad6fd6edd24&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/holiday-homes/index.html" title="Vacation Homes">
                                                <h3 class="bui-card__title">
                                                    Vacation Homes
                                                </h3>
                                                <h4 class="bui-card__subtitle">659,514 vacation homes</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Guest houses" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/guest-house/index.html'; return false;">
                                        <img class="bui-card__image" alt="Guest houses" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450073.jpg?k=3c4884a443d1c5a3772e85e91a79d088a2079e31089252a3461d32fae53bab9e&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/guest-house/index.html" title="Guest houses">
                                                <h3 class="bui-card__title">
                                                    Guest houses
                                                </h3>
                                                <h4 class="bui-card__subtitle">108,823 guest houses</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Hostels" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/hostels/index.html'; return false;">
                                        <img class="bui-card__image" alt="Hostels" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450082.jpg?k=8b8afac9cf0a369c3856bab85eac5b2cc9021e7b9851bcffac5d8c7a992ef70c&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/hostels/index.html" title="Hostels">
                                                <h3 class="bui-card__title">
                                                    Hostels
                                                </h3>
                                                <h4 class="bui-card__subtitle">19,546 hostels</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Motels" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/motels/index.html'; return false;">
                                        <img class="bui-card__image" alt="Motels" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450093.jpg?k=ec7e14f6e5d73cefa7164ed4489c83881a8c0325f12850960ed74fe78a1a3749&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/motels/index.html" title="Motels">
                                                <h3 class="bui-card__title">
                                                    Motels
                                                </h3>
                                                <h4 class="bui-card__subtitle">12,917 motels</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="B&amp;Bs" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/bed-and-breakfast/index.html'; return false;">
                                        <img class="bui-card__image" alt="B&amp;Bs" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450056.jpg?k=ec06e288d970ae0657f141601af7ce336007d019ec5a5e7b91e7dda15f22f4cf&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/bed-and-breakfast/index.html" title="B&amp;Bs">
                                                <h3 class="bui-card__title">
                                                    B&amp;Bs
                                                </h3>
                                                <h4 class="bui-card__subtitle">205,745 B&amp;Bs</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Ryokans" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/ryokans/index.html'; return false;">
                                        <img class="bui-card__image" alt="Ryokans" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450279.jpg?k=0bc0ea46253f620699422aa96cc9800925a7fd0392b77582ad6db6c21e961447&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/ryokans/index.html" title="Ryokans">
                                                <h3 class="bui-card__title">
                                                    Ryokans
                                                </h3>
                                                <h4 class="bui-card__subtitle">2,400 ryokans</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Riads" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/riad/index.html'; return false;">
                                        <img class="bui-card__image" alt="Riads" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450064.jpg?k=1f1c0bac4055f317f00951a4bd3f6917f3158512629a1066da430d832f0aacf5&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/riad/index.html" title="Riads">
                                                <h3 class="bui-card__title">
                                                    Riads
                                                </h3>
                                                <h4 class="bui-card__subtitle">1,377 riads</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Resort Villages" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/holiday-parks/index.html'; return false;">
                                        <img class="bui-card__image" alt="Resort Villages" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450068.jpg?k=d9dcac967167732ad8b21a9cac0bdea4cbfd986111e81e059db18276cde9159e&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/holiday-parks/index.html" title="Resort Villages">
                                                <h3 class="bui-card__title">
                                                    Resort Villages
                                                </h3>
                                                <h4 class="bui-card__subtitle">6,094 resort villages</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Homestays" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/homestay/index.html'; return false;">
                                        <img class="bui-card__image" alt="Homestays" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450066.jpg?k=c7f63a9397b6b13eb7b9b53edb291212cc46a5c3a1620ebde32de8aedd36da68&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/homestay/index.html" title="Homestays">
                                                <h3 class="bui-card__title">
                                                    Homestays
                                                </h3>
                                                <h4 class="bui-card__subtitle">158,275 homestays</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Campgrounds" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/campings/index.html'; return false;">
                                        <img class="bui-card__image" alt="Campgrounds" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450283.jpg?k=05466063293ec7f45dce869c95b29bca02cc0bc4497aeb6576e90304e7e151b6&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/campings/index.html" title="Campgrounds">
                                                <h3 class="bui-card__title">
                                                    Campgrounds
                                                </h3>
                                                <h4 class="bui-card__subtitle">11,722 campgrounds</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Country Houses" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/country-houses/index.html'; return false;">
                                        <img class="bui-card__image" alt="Country Houses" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450103.jpg?k=349a817d33b8060518d5b8540fc32088fe61fd2f1a8d906dd361be068d1663ff&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/country-houses/index.html" title="Country Houses">
                                                <h3 class="bui-card__title">
                                                    Country Houses
                                                </h3>
                                                <h4 class="bui-card__subtitle">12,438 country houses</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Farm Stays" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/farm-holidays/index.html'; return false;">
                                        <img class="bui-card__image" alt="Farm Stays" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450080.jpg?k=3a924d5c68b386fda5bc9840276067bb83ffbad33c37ea880f8abdbdd78f116b&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/farm-holidays/index.html" title="Farm Stays">
                                                <h3 class="bui-card__title">
                                                    Farm Stays
                                                </h3>
                                                <h4 class="bui-card__subtitle">11,253 farm stays</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Boats" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/boats/index.html'; return false;">
                                        <img class="bui-card__image" alt="Boats" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450095.jpg?k=acd3d1777f588ee229939bbcaa58507271b6ed9d7a2055bf1bdc0934f6264569&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/boats/index.html" title="Boats">
                                                <h3 class="bui-card__title">
                                                    Boats
                                                </h3>
                                                <h4 class="bui-card__subtitle">2,303 boats</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Luxury Tents" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/camp/index.html'; return false;">
                                        <img class="bui-card__image" alt="Luxury Tents" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450097.jpg?k=9dba5b1b853477a2fa4e31340e06f4b3174b1fb06015df1a24b88409fe827af1&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/camp/index.html" title="Luxury Tents">
                                                <h3 class="bui-card__title">
                                                    Luxury Tents
                                                </h3>
                                                <h4 class="bui-card__subtitle">5,301 luxury tents</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Self-catering Accommodations" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/self-catering/index.html'; return false;">
                                        <img class="bui-card__image" alt="Self-catering Accommodations" src="https://cf.bstatic.com/xdata/images/xphoto/square300/45450075.jpg?k=f700a9efebfa8461068059bf7d3b89658d8fb538c342d28515666d94a620fddf&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/self-catering/index.html" title="Self-catering Accommodations">
                                                <h3 class="bui-card__title">
                                                    Self-catering Accommodations
                                                </h3>
                                                <h4 class="bui-card__subtitle">1,057,934 Self-catering Properties</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                            <li class="bui-carousel__item" data-bui-ref="carousel-item">
                                <div aria-label="Tiny houses" class="bui-card bui-u-bleed@small bui-card--media bui-card--transparent lp-hotel__other_property_card">
                                    <div class="bui-card__image-container" onclick="location.href='/tiny-house/index.html'; return false;">
                                        <img class="bui-card__image" alt="Tiny houses" src="https://cf.bstatic.com/xdata/images/xphoto/square300/57175023.jpg?k=7c5979c1629f46255d93ba9fd2f2edbf0f10776ae92dffd765403d0d4ddc954c&amp;o=">
                                    </div>
                                    <div class="bui-card__content">
                                        <header class="bui-card__header">
                                            <a href="/tiny-house/index.html" title="Tiny houses">
                                                <h3 class="bui-card__title">
                                                    Tiny houses
                                                </h3>
                                                <h4 class="bui-card__subtitle">1,162 tiny houses</h4>
                                            </a>
                                        </header>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="bui-carousel__nav">
                            <button type="button" class="bui-carousel__button" aria-label="Previous" data-bui-ref="carousel-prev">
                                <svg class="bk-icon -streamline-arrow_nav_left bui-carousel__prev" height="32" width="32" viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false">
                                    <path d="M14.55 18a.74.74 0 0 1-.53-.22l-5-5A1.08 1.08 0 0 1 8.7 12a1.1 1.1 0 0 1 .3-.78l5-5a.75.75 0 0 1 1.06 0 .74.74 0 0 1 0 1.06L10.36 12l4.72 4.72a.74.74 0 0 1 0 1.06.73.73 0 0 1-.53.22zm-4.47-5.72zm0-.57z">
                                    </path>
                                </svg>
                            </button>
                            <button type="button" class="bui-carousel__button" aria-label="Next" data-bui-ref="carousel-next">
                                <svg class="bk-icon -streamline-arrow_nav_right bui-carousel__next" height="32" width="32" viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false">
                                    <path d="M9.45 6c.2 0 .39.078.53.22l5 5c.208.206.323.487.32.78a1.1 1.1 0 0 1-.32.78l-5 5a.75.75 0 0 1-1.06 0 .74.74 0 0 1 0-1.06L13.64 12 8.92 7.28a.74.74 0 0 1 0-1.06.73.73 0 0 1 .53-.22zm4.47 5.72zm0 .57z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</main>
 @section Scripts{
    <script defer>
        // getting all required elements
        const searchWrapper = document.querySelectorAll(".search-input");


        // if user press any key and release
        for (let i = 0; i<searchWrapper.length;i++) {
            const inputBox = searchWrapper[i].querySelector(".searchInp");
            const suggBox = searchWrapper[i].querySelector(".autocom-box");
            let linkTag = searchWrapper[i].querySelector("a");
            let webLink;
                let inputBOX = inputBox;
                inputBOX.onkeyup = (e) => {
                let userData = e.target.value; //user enetered data
                let emptyArray = [];
                if (userData) {

                    emptyArray = suggestions.filter((data) => {
                        //filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
                        return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase());
                    });
                    emptyArray = emptyArray.map((data) => {
                        // passing return data inside li tag
                        return data = `<li>${data}</li>`;
                    });
                    searchWrapper[i].classList.add("active"); //show autocomplete box
                    showSuggestions(emptyArray);
                    let allList = suggBox.querySelectorAll("li");
              
                    for (let a = 0; a < allList.length; a++) {
                        //adding onclick attribute in all li tag
                        allList[a].setAttribute("onclick",`select(this,${i})`)

                     
                    }
                } else {
                    searchWrapper[i].classList.remove("active"); //hide autocomplete box
                }
            }
            function select(element,i) {
                let selectData = element.textContent;
                searchWrapper[i].querySelector(".searchInp").value = selectData;

                searchWrapper[i].classList.remove("active");
            }

            function showSuggestions(list) {
                let listData;
                if (!list.length) {
                    userValue = inputBox.value;
                    listData = `<li>${userValue}</li>`;
                } else {
                    listData = list.join('');
                }
                suggBox.innerHTML = listData;
            }
        }




        // You Create new javascript file, File Name  suggestions., and Paste the Code

        let suggestions = [
            "Channel",
            "Mr Code Box",
            "Vs Code",
            "Instagram",
            "YouTube",
            "YouTuber",
            "YouTube Channel",
            "Blogger",
            "Please Like, Share & Subscribe",
            "Bollywood",
            "Vlogger",
            "Vechiles",
            "Facebook",
            "Freelancer",
            "Facebook Page",
            "Designer",
            "Developer",
            "Web Designer",
            "Web Developer",
            "Login Form in HTML & CSS",
            "How to learn HTML & CSS",
            "How to learn JavaScript",
            "How to become Freelancer",
            "How to become Web Designer",
            "How to start Gaming Channel",
            "How to start YouTube Channel",
            "What does HTML stands for?",
            "What does CSS stands for?",
        ];
    </script>
 }