@{
    ViewData["Title"] = "Travon - Tour and Hotel Booking HTML Template - Eror Page";
}

@section MetaTags {
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Adivaha">
    <meta name="description" content="Travon - Tour and Hotel Booking HTML Template">
    <meta name="keywords" content="Travon - Tour and Hotel Booking HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
}

<div class="breadcumb-wrapper" data-bg-src="~/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">404 - Error Page</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>404 - Error Page</li>
            </ul>
        </div>
    </div>
</div>
<section class="space">
    <div class="container">
        <div class="error-img"><img src="~/img/normal/error_img.svg" alt="404 image"></div>
        <div class="error-content">
            <h2 class="error-title">Opp’s that page can’t be found</h2>
            <p class="error-text">
                It looks like nothing was found at this location. The page or post you are looking
                for has been moved or removed.
            </p><a href="index.html" class="ot-btn">
                <i class="fas fa-home me-2"></i>Back To Home
            </a>
        </div>
    </div>
</section>
<section class="" data-pos-for=".footer-wrapper" data-sec-pos="bottom-half">
    <div class="container">
        <div class="newsletter-wrap" data-bg-src="~/img/bg/subscribe_bg_1.svg">
            <h2 class="sec-title text-white mb-2">Get Special Offers And More From Travon</h2>
            <p class="text-white fs-md mb-4">Sign up now and get the best deals straight in your inbox!</p>
            <form action="/Newsletter" method="post" class="newsletter-form">
                <input class="form-control" name="Email" type="email"
                       placeholder="Enter Email Address" required=""> <button type="submit"
                                                                              class="ot-btn">
                    SUBCRIBE
                </button>
            </form>
        </div>
    </div>
</section>
